################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/packages/Microsoft.DXSDK.D3DX.9.29.952.8
/Research/x64
/Sample/x64
D3DCompiler_43.dll
d3dx10d_43.dll
d3dx11d_43.dll
d3dx9d_43.dll
Sample.exe
Sample.pdb
simple.cso
